<% content_for :title, "Help" %>
<h1>Help</h1>
<p>
  <%= I18n.t("help.description_ror_page") %>
  <a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>.
  <%= I18n.t("help.description_ror_book") %>
  <a href="http://www.railstutorial.org/book"><em>Ruby in Rails Tutorial</em>
  book</a>.
</p>
