<div class="center jumbotron">
  <h1><%= I18n.t("home.welcome") %></h1>
  <h2>
    <%= I18n.t("home.description") %>
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample
      application.
  </h2>
  <% if !logged_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px"),
  "https://rubyonrails.org/" %>
